@import "../../styles/colors.css";

.button{
    padding: 10px 18px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.button.login, .button.crear-producto{
    background-color: var(--color-text-secondary);
    color: var(--color-secondary);
}
.button.login:hover{
    background-color: var(--color-text-primary);
}
.button.registro, .button.logout{
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
}
.button.logout{
    position: relative;
    top: -1.5em;
    right: -6.5em;
}
.button.registro:hover, .button.logout:hover{
    background-color: var(--color-primary);
}
.button.add-to-cart{
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
}
.button.add-to-cart:hover{
    background-color: var(--color-primary);
}


@media screen and (min-width: 768px) {
    .button.logout{
        position: relative;
        top: 1em;
        right: 0;
    }
}