:root {
    --color-primary: #1A237E;
    --color-secondary: #3949AB;
    --color-accent: #7986CB;
    --color-background: #121212;
    --color-background-secondary: #E0E0E0;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #BDBDBD;
}